<script>
    $(document).ready(function () {
        var pathname = window.location.pathname;
        $("ul.nav.navbar-nav li.active").removeClass("active");
        $("ul.nav.navbar-nav li[href='" + pathname + "']").addClass("active");
    });
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li href="/view/dashboard"><a href="/view/dashboard">Dashboard</a></li>
            <li href="/view/instruments"><a href="/view/instruments">Instruments</a></li>
            <li href="/view/users"><a href="/view/users">Users</a></li>
            <li href="/view/customers"><a href="/view/customers">Customers</a></li>
            <li href="/view/support_logs"><a href="/view/support_logs">Support Logs</a></li>
        </ul>
    </div>
</nav>
