<html>
{{> head}}
<body>
{{> navigate}}
<script></script>
<script>
	$(document).ready(function() {
		$("#support-logs").DataTable();
	
		$(".delete").click(function(e){
			$.ajax({
				url: "/api/support_log/"+$(this).attr("id"),
				type: "DELETE",
				success: function(result) {
					alert("delete success");
					location.reload();
				}
			});
			return false;
		});

		$(".instrument-place-holder").each(function(i, e){
			$.ajax({
				url: "/api/instrument/"+$(this).attr("id"),
				type: "GET",
				success: function(instrument) {
					$(this).text(instrument.serial_number);
				}.bind($(this))
			});
		});
	});
</script>
<table id="support-logs" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Created Date</th>
			<th>Updater Date</th>
			<th>Name</th>
			<th>Comment</th>
			<th>HAWK Instrument</th>
			<th><!--edit--></th>
			<th><!--delete--></th>
		</tr>
	</thead>
	<tbody>
		{{#supportLogs}}
			<tr>
				<td>{{date_format created_at}}</td>
				<td>{{date_format updated_at}}</td>
				<td>{{name}}</td>
				<td>{{comment}}</td>
				<td><label class="instrument-place-holder" id={{instrument_id}}>-</label></td>
				<td><a class="edit" href="/view/edit_support_log/{{id}}">edit</a></td>
				<td><a class="delete" href="" id={{id}}>delete</a></td>
			</tr>
		{{/supportLogs}}
	</tbody>
	<tfoot>
		<th>Created Date</th>
		<th>Updater Date</th>
		<th>Name</th>
		<th>Comment</th>
		<th>HAWK Instrument</th>
		<th><!--edit--></th>
		<th><!--delete--></th>
	</tfoot>
</table>
<a href="/view/create_support_log">Create Support Log</a>
</body>
</html>