<html>
{{> head}}
<body>
	{{> navigate}}
	<script>
		$(document).ready(function(){
			$("#update").click(function(){
				$.ajax({
					method: "PUT",
					url: "/api/user/{{id}}",
					data: $("#user" ).serialize(),
					success: function() {
						window.location.assign("/view/users");
					}
				});
			});
		});
	</script>
	<form id="user" method="post" action="/api/user">
		<input type="hidden" value="{{id}}"/>
		<label for="name">Name:</label><br/>
		<input type="text" id="name" name="user[name]" value="{{name}}" placeholder="Name"><br/>
		<label for="phone">Phone:</label><br/>
		<input type="text" id="phone" name="user[phone]" value="{{phone}}" placeholder="Phone"><br/>
		<label for="email">Email:</label><br/>
		<input type="email" id="email" name="user[email]" value="{{email}}" placeholder="Email"><br/>
		<label for="login">Login:</label><br/>
		<input type="text" id="login" name="user[login]" value="{{login}}" placeholder="Login"><br/>
		<input id="update" type="button" value="Save User">
	</form>
</body>
</html>