<html>
{{> head}}
<body>
{{> navigate}}
<script>
    $(document).ready(function () {
        $("#users").dataTable();

        $(".delete").click(function (e) {
            $.ajax({
                url: "/api/user/" + $(this).attr("id"),
                method: "DELETE",
                success: function (result) {
                    alert("delete success");
                    location.reload();
                }
            });
            return false;
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="users" class="display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th><!--controls--></th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{phone}}</td>
                    <td>{{email}}</td>
                    <td>{{login}}</td>
                    <td>
                        <a class="btn btn-default" href="/view/edit_user/{{id}}">edit</a>
                        <a class="btn btn-default delete" href="" id={{id}}>delete</a>
                    </td>
                </tr>
                {{/users}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="/view/create_user">Add New User</a>
        </div>
    </div>
</div>
</body>
</html>
