<script>
    $(document).ready(function() {
        $(".delete-support-log").click(function() {
            $.ajax({
                url: "/api/support_log/" + $(this).attr("id"),
                type: "DELETE",
                success: function (result) {
                    alert("delete success");
                    location.reload(true);
                }
            });
        });
    });
</script>

<table id="table-support-logs" class="display">
    <thead>
    <tr>
        <th>Last Updated</th>
        <th>Status</th>
        <th>Reporter</th>
        <th>Issue</th>
        <th>Comment</th>
        <th>HAWK Instrument</th>
        <th>Assignee</th>
        <th><!--controls--></th>
    </tr>
    </thead>
    <tbody>
    {{#supportLogs}}
    <tr>
        <td>{{date_format updated_at}}</td>
        <td>{{status}}</td>
        <td>{{reporter}}</td>
        <td>{{name}}</td>
        <td>{{comment}}</td>
        <td>{{instrument}}</td>
        <td>{{assignee}}</td>
        <td>
            <a class="btn btn-default" href="/view/edit_support_log/{{id}}">edit</a>
            <a class="btn btn-default delete-support-log" id={{id}}>delete</a>
        </td>
    </tr>
    {{/supportLogs}}
    </tbody>
</table>
<a class="btn btn-primary" href="/view/create_support_log">Create Support Log</a>
